.logger {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-color: rgba(0,0,0,.1);
  color: white;
  padding: 1rem;
}
pong-board {
  display: block;
  cursor: none;
  height: 100vh;
  width: 100vw;
  background:
    linear-gradient(336deg, rgba(89, 8, 243, .9), rgba(255,0,0,0) 65%),
    linear-gradient(127deg, rgba(0, 255, 0, .7), rgba(0,255,0,0) 65%),
    linear-gradient(217deg, rgb(33, 211, 227), rgba(0,0,255,0) 65%),
    url('../../../assets/823715.jpg') 50% /cover;
  position: relative;
  &.is-paused, &.game-over {
    cursor: default;
  }
  .overlay {
    pointer-events: none;
    button {
      margin-bottom: 1rem;
      cursor: pointer;
      background-color: rgba(255,255,255,.1);
      border: 1px solid rgba(255,255,255,.27);
      color: white;
      width: 300px;
      padding: 1rem 0;
      font-variant: small-caps;
      font-size: 1rem;
      &:hover {
        background-color: rgba(255,255,255,.21);
        border: 1px solid rgba(255,255,255,.42);
      }
    }
    > * {
      pointer-events: auto;
    }
    .info-msg {
      font-size: 4.2rem;
      color: white;
      font-weight: 100;
      text-shadow: 1px 1px 9px navy;
    }
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: '';
    backdrop-filter: blur(0px);
    background-color: #0379;
    transition: backdrop-filter .42s linear .21s, background-color .35s ease-out;
  }
  &.is-paused, &.game-over {
    &:before {
      backdrop-filter: blur(7px);
      background-color: #f504;
    }
  }
}
pong-ball {
  position: absolute;
  width: 0;
  height: 0;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 3px 5px -1px rgb(0 0 0 / 30%), 0 5px 8px 0 rgb(0 0 0 / 21%), 0 1px 14px 0 rgb(0 0 0 / 18%);
}
pong-paddle {
  position: absolute;
  height: 0;
  transform: translate(-50%, -50%);
}
.cursor {
  width: 0;
  height: 0;
  &:before, &:after {
    content: '';
    position: fixed;
    --dots: rgba(194, 255, 0, .63);
  }
  &:before {
    width: 60px;
    left: calc(var(--x) - 30px);
    top: var(--y);
    border-bottom: 1px dotted var(--dots);
  }
  &:after {
    height: 60px;
    top: calc(var(--y) - 30px);
    left: var(--x);
    border-right: 1px dotted var(--dots);
  }
}
.is-paused, .game-over {
  .cursor {
    &:before, &:after {
      content: none;
    }
  }
}
